__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Environment variables
.env
*.env

# Logs
logs/
*.log

# IDE / Editor files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db
myenv/